.storycard {
  margin-top: 7px;
  display: flex;
  color: white;
  background-color: black;
  width: 100%;
  height: 473px;
  position: relative;
  align-items: center;
  justify-content: center;
}

.storycard .text {
  width: 500px;
}
.storycard .image {
  margin-left: 100px;
  margin-right: 100px;
}
.storycard img {
  width: 500px;
  height: 400px;
}
.storycard .title {
  margin-block: unset;
  font-size: 3rem;
  font-weight: 700;
}
.storycard .subtitle {
  margin-top: 20px;
  font-size: 1.5rem;
}
