.reg-header {
  width: inherit;
  height: 90px;
  border-bottom: 1px solid rgb(207, 206, 206);
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
}
.reg-signin {
  position: relative;
  font-size: 19px;
  font-weight: 700;
}
.reg-signin a {
  text-decoration: none;
  color: black;
}
.reg-body {
  margin: 0 auto;
  max-width: 987px;
}
.reg-body-container {
  width: 330px;
  /* margin: auto; */
  margin-top: 100px;
  margin-bottom: 100px;
  height: fit-content;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  left: 50%;
  transform: translateX(-50%);
}
.reg-body-container img {
  transform: scale(0.5);
}
.reg-body-container .step-indicator {
  font-size: 14px;
  font-weight: 500;
}
.reg-body-container .step-title {
  margin-top: 10px;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
}
.reg-body-container .step-context {
  margin-top: 10px;
  font-size: 17px;
  /* font-weight: ; */
  text-align: center;
}
.reg-body-container .reg-submit {
  cursor: pointer;
  background-color: #e50914;
  outline: none;
  border: none;
  font-size: 20px;
  color: white;
  width: 340px;
  min-height: 64px;
  margin-top: 20px;
  border-radius: 5px;
}

@media screen and (max-width: 550px) {
  .reg-header {
    height: 45px !important;
    padding: 0 10px !important;
  }
  .reg-signin {
    font-size: 15px !important;
  }
}
