.regform-body-container {
  width: 400px !important;
  /* margin-top: -150px; */
}
.animate {
  animation: ease 0.5s run;
}
@keyframes run {
  0% {
    opacity: 0;
    left: 60%;
  }
  100% {
    opacity: 1;
    left: 50%;
  }
}

.regform-step {
  font-size: 14px;
}
.regform-title {
  margin-top: 10px;
  font-size: 30px;
  font-weight: 700;
}
.regform-context {
  margin-top: 10px;
}
.regform-input {
  width: -webkit-fill-available;
  margin-top: 10px;
  height: 50px;
  outline: none;
  font-size: 15px;
  padding-left: 10px;
}
