.paymentpicker-body-container {
  margin-top: 50px;
  width: fit-content !important;
  padding: 20px;
}
.payment-text {
  width: 220px;
  margin-top: 15px;
  text-align: center;
  font-size: 19px;
}
.payments-container {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}
.payments-container a {
  text-decoration: none;
  color: black;
}
.payments {
  margin-bottom: 5px;
  width: inherit;
  max-width: 470px;
  height: fit-content;
  border: 2px solid rgb(180, 179, 179);
  display: flex;
  border-radius: 5px;
  padding-left: 15px;
  justify-content: space-between;
  align-items: center;
}
.card-container {
  width: 250px;
}
.payments img {
  width: fit-content;
  height: 50px;
  margin-right: -30px;
  padding: 0;
}
.payment-data {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 480px) {
  .payment-data {
    align-items: flex-start !important;
    flex-direction: column !important;
  }
}
.payments svg {
  height: 40px;
  width: 40px;
  color: rgb(182, 181, 181);
}
