.login-page-container {
  background-color: rgb(58, 58, 58);
}
.header {
  position: relative;
  display: flex;
  z-index: 2;
  height: 4rem;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem 1rem 3rem;
  width: -webkit-fill-available;
}
.main_image {
  width: 100%;
  position: relative;
  background-color: red;
  background-image: url('https://assets.nflxext.com/ffe/siteui/vlv3/271ac55e-7228-438e-824e-92db37981e59/993003ba-1a9f-4b48-854f-4959e42116f3/IN-en-20220627-popsignuptwoweeks-perspective_alpha_website_large.jpg');
  height: 45rem;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  flex-direction: column;
}
.main_image img {
  width: 100%;
  height: 100%;
}
.img-gradient {
  background: rgba(0, 0, 0, 0.4);
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.7) 0, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.7) 100%);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.logoabs {
  /* position: absolute;
  margin-top: 25px; */
}
.netflixlogo {
  fill: #e50914;
  width: 170px;
}
@media screen and (max-width: 1437px) {
  .netflixlogo {
    width: 120px;
  }
}
.buttons {
  display: flex;
  color: white;
}

.buttons .language {
  display: flex;
  border: 1px solid white;
  border-color: rgba(252, 252, 252, 0.8);
  width: 93px;
  height: 36px;
  padding-right: 5px;
  background-color: #000000;
  border-radius: 3px;
}

.buttons .language select {
  border-radius: inherit;
  outline: none;
  border: none;
  width: inherit;
  height: inherit;
  color: white;
  font-size: 15px;
  padding: 3px;
  background-color: inherit;
}

.buttons .signin {
  width: 80px;
  background-color: #e50914;
  color: white;
  border-radius: 4px;
  margin-top: 0px;
  margin-left: 20px;
  border: none;
  font-size: 15px;
  padding: 8px 0px 8px 0px;
  text-decoration: none;
  font-size: 15px;
  font-weight: 700;
  text-align: center;
}

.message-container {
  display: flex;
  text-align: center;
  align-items: center;
  color: white;
  z-index: 10;
  color: white;
  margin-top: 8rem;
  justify-content: center;
  flex-direction: column;
  max-width: 700px;
  padding: 0px 5%;
}
.text-title {
  margin-block: unset;
  font-size: 4rem;
}
@media screen and (max-width: 1437px) {
  .text-title {
    font-size: 3rem;
  }
}
.text-subtitle {
  font-weight: 400;
  font-size: 1.625rem;
}
.form-text-title {
  font-size: 1.25rem;
}
@media screen and (max-width: 550px) {
  .text-title {
    font-size: 1.7rem !important;
  }
  .text-subtitle {
    font-size: 1.3rem !important;
    margin-top: 10px;
  }
  .netflixlogo {
    width: 90px !important;
  }
  .buttons {
    transform: scale(0.8) !important;
  }
  .header {
    padding: 1rem 0.2rem 1rem 1rem;
  }
  .message-container {
    margin-top: 4rem !important;
  }
  .main_image {
    height: 35rem !important;
  }
  .faq-title {
    font-size: 25px !important;
  }
  .acc-text {
    font-size: 18px !important;
    font-weight: 500 !important;
  }
  .acc-title svg {
    height: 25px !important;
    width: 25px !important;
  }
}
.email-form {
  display: flex;
  height: inherit;
  width: -webkit-fill-available;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 900px) {
  .email-form {
    flex-direction: column;
  }
  .email-form .submit {
    width: 150px !important;
    margin-top: 20px;
    font-size: 15px !important;
    height: 40px !important;
    border-radius: 3px !important;
  }
}
.email-form input {
  font-size: 17px;
  padding-left: 10px;
  height: 70px;
  background-color: white;
  outline: none;
  border: none;
  width: inherit;
  display: flex;
}
@media screen and (max-width: 750px) {
  .email-form input {
    height: 50px !important;
  }
  .form-text-title {
    font-size: 1.1rem !important;
  }
}
.email-form .submit {
  width: 246px;
  color: white;
  border-radius: 0;
  height: 72px;
  background-color: #e50914;
  font-size: 27px;
  text-transform: capitalize;
}
.email-form a {
  text-decoration: none;
}
.email-form .submit:hover {
  background-color: red;
}
.faq-section {
  background-color: black;
  /* margin: auto; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8px;
}
.faq-container {
  width: 100%;
  margin-top: 8px;
  background-color: black;
  color: white;
  position: relative;
  align-items: center;
  justify-content: center;
  padding: 30px;
  max-width: 900px;
}
.faq-title {
  display: grid;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  margin-bottom: 40px;
}
.acc-container {
  width: inherit;
  height: fit-content;
  margin-bottom: 10px;
  cursor: pointer;
}
.acc-text {
  background-color: #303030;
  display: flex;
  position: relative;
  font-weight: 400;
  font-size: 27px;
  align-items: center;
  justify-content: space-between;
}
.acc-title {
  height: fit-content;
  padding-left: 30px;
  padding-right: 20px;
}
.acc-subtitle {
  white-space: pre-line;
  height: fit-content;
  padding: 20px 20px 20px 30px;
  margin-top: 2px;
}
.acc-title svg {
  height: 40px;
  width: 40px;
}
.rotate-icon {
  transform: rotate(-45deg);
}
.signupform {
  margin-top: 30px;
  display: grid;
  text-align: center;
  justify-content: center;
}
.footer-card {
  font-size: 16px;
  margin-top: 8px;
  padding: 40px;
  background-color: #000000;
  color: gray;
  display: grid;
  align-items: center;
  justify-content: center;
}
.footer-card .footer-table {
  font-size: 14px;
  margin-top: 10px;
}
.footer-card td {
  width: 210px;
  padding-bottom: 12px;
}
.footer-card select {
  margin-top: 20px;
  border-radius: 2px;
  border: 0;
  outline: 1px solid;
  width: 132px;
  height: 53px;
  color: gray;
  font-size: 15px;
  padding-left: 10px;
  background-color: inherit;
  border-right: 10px solid transparent;
}
.footer-card .netflixtitle {
  margin-top: 20px;
  color: gray;
}
.footer-card a {
  text-decoration: none;
  color: inherit;
}
.footer-card a:hover {
  text-decoration: underline;
}

.footer-list {
  list-style-type: none;
  width: 100%;
  padding: 0;
  margin: 0;
}
.footer-link {
  display: inline-block;
  width: 25%;
  color: gray;
  margin-top: 10px;
}
@media screen and (max-width: 810px) {
  .footer-link {
    width: 33% !important;
  }
}
@media screen and (max-width: 620px) {
  .footer-link {
    width: 50% !important;
  }
}
@media screen and (max-width: 425px) {
  .footer-link {
    width: 100% !important;
  }
}
